@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
